<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lời mời tham gia {{ org_name }}</title>
</head>

<body style="font-family: Arial, sans-serif; margin: 0; padding: 0; background-color: #eff2f4;">
    <table align="center" border="0" cellpadding="0" cellspacing="0" width="600">
        <tr>
            <td align="center">
                <img src="https://d3strovqzyyr8u.cloudfront.net/images/png/21979a99-cfb0-4ec1-9ddf-df927cb7c238.png"
                    alt="Ally AI Logo" width="264" height="78.5" style="display: block; margin: 8px 0;">
            </td>
        </tr>
        <tr>
            <td bgcolor="#ffffff" style="padding: 40px 30px 40px 30px;">
                <table border="0" cellpadding="0" cellspacing="0" width="100%">
                    <tr>
                        <td style="color: #153643; font-size: 28px;">
                            <b>Xin chào {{ display_name }},</b>
                        </td>
                    </tr>
                    <tr>
                        <td style="padding: 20px 0 30px 0; color: #153643; font-size: 16px; line-height: 20px;">
                            Bạn đã được mời tham gia {{ org_name }}. Vui lòng nhấp vào liên kết bên dưới để chấp nhận
                            lời mời:
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align: center; padding: 20px 0;">
                            <a href="{{ base_frontend_url }}/sign-in"
                                style="display: inline-block; padding: 12px 30px; border-radius: 8px; background: #161616; color: #FFFFFF; text-decoration: none;">Chấp
                                nhận lời mời</a>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td bgcolor="#ffffff" style="padding: 30px 30px 30px 30px;">
                <hr>
                <table border="0" cellpadding="0" cellspacing="0" width="100%">
                    <tr>
                        <td style="color: #153643; font-size: 14px; text-align: center;">
                            Điều khoản dịch vụ | Chính sách bảo mật
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</body>

</html>