<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Xác thực Email cho Ally AI</title>
</head>

<body style="font-family: Arial, sans-serif; margin: 0; padding: 0; background-color: #eff2f4;">
    <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width: 600px;">
        <tr>
            <td align="center">
                <img src="https://d3strovqzyyr8u.cloudfront.net/images/png/21979a99-cfb0-4ec1-9ddf-df927cb7c238.png"
                    alt="Ally AI Logo" width="264" height="78.5" style="display: block; margin: 8px 0;">
            </td>
        </tr>
        <tr>
            <td bgcolor="#ffffff" style="padding: 40px 30px 40px 30px;">
                <table border="0" cellpadding="0" cellspacing="0" width="100%">
                    <tr>
                        <td style="color: #153643; font-size: 28px;">
                            <b>Xin chào {{ display_name }},</b>
                        </td>
                    </tr>
                    <tr>
                        <td style="padding: 10px 0; color: #153643; font-size: 16px;">
                            <b>Số điện thoại:</b> {{ phone_number }}
                        </td>
                    </tr>
                    <tr>
                        <td style="padding: 20px 0 30px 0; color: #153643; font-size: 16px; line-height: 20px;">
                            Cảm ơn bạn đã đăng ký tài khoản trên Ally AI! Để hoàn tất đăng ký, vui lòng nhập mã xác thực
                            bên dưới để xác nhận địa chỉ email của bạn.
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align: center;">
                            <b style="display: inline-flex;
                                padding: 12px 30px;
                                justify-content: center;
                                align-items: center;
                                gap: 10px;
                                border-radius: 8px;
                                background: #161616;
                                color: #FFFFFF;">
                                {{ code_number }}</b>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td bgcolor="#ffffff" style="padding: 30px 30px 30px 30px;">
                <hr>
                <table border="0" cellpadding="0" cellspacing="0" width="100%">
                    <tr>
                        <td style="color: #153643; font-size: 14px; text-align: center;">
                            Điều khoản dịch vụ | Chính sách bảo mật
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</body>

</html>